In [2]:
import pandas as pd

In [13]:
#api활용을 위해 제공되고 있는 xycode에서 부산 code만 추출한다

In [3]:
data = pd.read_excel('../Data/rawdata/API_xycode.xlsx')

In [5]:
data['CODE'] = data['행정구역코드'].apply(str)

In [6]:
busan_data = data[data['CODE'].str.startswith('26')]

In [7]:
busan_data = busan_data[['2단계','3단계','격자 X', '격자 Y', 'CODE']]

In [8]:
busan_data = busan_data.fillna(0)
busan_data = busan_data[busan_data['3단계']==0]

In [9]:
busan_data = busan_data.drop(columns='3단계')
busan_data = busan_data.drop(index=451)
busan_data

      2단계  격자 X  격자 Y        CODE
452    중구    97    74  2611000000
462    서구    97    74  2614000000
476    동구    98    75  2617000000
489   영도구    98    74  2620000000
501  부산진구    97    75  2623000000
522   동래구    98    76  2626000000
536    남구    98    75  2629000000
554    북구    96    76  2632000000
568  해운대구    99    75  2635000000
587   사하구    96    74  2638000000
604   금정구    98    77  2641000000
621   강서구    96    76  2644000000
630   연제구    98    76  2647000000
643   수영구    99    75  2650000000
654   사상구    96    75  2653000000
667   기장군   100    77  2671000000

In [10]:
busan_data = busan_data.rename(columns={'2단계':'ZONE','격자 X':'X','격자 Y' : 'Y'})

In [11]:
busan = busan_data.reset_index(drop=True)

In [12]:
busan

    ZONE    X   Y        CODE
0     중구   97  74  2611000000
1     서구   97  74  2614000000
2     동구   98  75  2617000000
3    영도구   98  74  2620000000
4   부산진구   97  75  2623000000
5    동래구   98  76  2626000000
6     남구   98  75  2629000000
7     북구   96  76  2632000000
8   해운대구   99  75  2635000000
9    사하구   96  74  2638000000
10   금정구   98  77  2641000000
11   강서구   96  76  2644000000
12   연제구   98  76  2647000000
13   수영구   99  75  2650000000
14   사상구   96  75  2653000000
15   기장군  100  77  2671000000

In [14]:
busan_data.to_csv('../Data/final_data/DB/xycode.csv', encoding='utf-8', index=False)

In [ ]:
# busan_dong을 위한 코드를 만든다.

In [17]:
busan_dong = pd.read_csv('../Data/processing_data/1st/busan_flood_geo.csv')

In [19]:
busan_dong.columns

Index(['SEQ', 'FLUD_CAUSE', 'F_DSTRC_NM', 'F_DSSTR_NM', 'F_CUE_DTL', 'ADM_CD',
       'WRITNG_YM', 'FLUD_TIME', 'FLUD_DPWT', 'DMG_AMOUNT', 'F_BEGIN_DE',
       'F_END_DE', 'F_BEGIN_TM', 'F_END_TM', 'FLUD_WAL', 'CITY', 'ZONE',
       'DONG', 'FLUD_DPWT.1', 'SLOPE_L', 'SLOPE_H', 'SLOPE_AVG', 'HIGH'],
      dtype='object')

In [20]:
busan_dong = busan_dong[['ADM_CD','ZONE','DONG','SLOPE_AVG','HIGH','FLUD_DPWT.1']]

In [25]:
busan_dong = busan_dong.sort_values('FLUD_DPWT.1', ascending=False,ignore_index=True)

In [32]:
busan_dong = busan_dong.drop_duplicates(['DONG'], keep='first')\
.sort_values(['ZONE','DONG'], ascending=['FALSE','TRUE'])\
.reset_index(drop=True)

In [36]:
busan_dong = busan_dong.drop(columns='FLUD_DPWT.1')

In [40]:
new_data={'ADM_CD':2617053000,'ZONE':'동구','DONG':'초량동','SLOPE_AVG':'1','HIGH':'4'}
busan_dong = busan_dong.append(new_data, ignore_index=True)

In [43]:
busan_dong.to_csv('../Data/final_data/DB/base_data.csv', encoding='utf-8', index=False)

In [45]:
fuck = pd.read_csv('../Data/')

        ADM_CD  ZONE   DONG SLOPE_AVG    HIGH
0   2644012000   강서구    눌차동      22.5    9.11
1   2644000000   강서구   대저1동         1    1.77
2   2644000000   강서구   대저2동         1    1.18
3   2644010400   강서구    명지동         1    1.55
4   2644011900   강서구    성북동        11    1.31
5   2641000000   금정구    구서동        11   24.95
6   2641000000   금정구    금사동       4.5    6.88
7   2641000000   금정구    남산동       4.5   36.22
8   2641000000   금정구    노포동        11   63.77
9   2641000000   금정구    두구동         1   61.97
10  2641000000   금정구    부곡동       4.5   12.94
11  2641000000   금정구    장전동       4.5   15.16
12  2671000000   기장군    기장읍       4.5    4.24
13  2671000000   기장군    일광면       4.5    2.03
14  2671000000   기장군    장안읍       4.5    4.92
15  2671000000   기장군    정관읍       4.5   35.56
16  2671000000   기장군    철마면       4.5   77.86
17  2629000000    남구    용호동         1    3.77
18  2617000000    동구    범일동         1    2.96
19  2626000000   동래구    명륜동         1    7.64
20  2626000000   동래구    사직동         3    6.53
21  2626000000   동래구    수안동         1    4.69
22  2626000000   동래구    안락동        11    5.14
23  2626000000   동래구    온천동         1   10.81
24  2623000000  부산진구    가야동       4.5   33.43
25  2632000000    북구    구포동        11    9.97
26  2632000000    북구    덕천동        45  171.04
27  2632000000    북구    화명동        15   32.29
28  2653000000   사상구    감전동         1    2.44
29  2653000000   사상구    괘법동         1    2.76
30  2653000000   사상구    덕포동         1    5.81
31  2653000000   사상구    주례동         1    1.36
32  2638010800   사하구    감천동       8.5    6.42
33  2638010100   사하구    괴정동      12.5   26.51
34  2638000000   사하구    구평동         1    2.52
35  2638000000   사하구    다대동         1    2.94
36  2638010500   사하구    장림동         1    1.98
37  2638010300   사하구    하단동         1     2.4
38  2614000000    서구    암남동        11    1.92
39  2650000000   수영구    광안동       4.5    3.38
40  2650010500   수영구    남천동       4.5    3.12
41  2650000000   수영구    망미동        11     5.8
42  2650000000   수영구    민락동       4.5    2.01
43  2650000000   수영구    수영동         1    3.47
44  2647000000   연제구    거제동       4.5    5.75
45  2647000000   연제구    연산동         1    3.43
46  2620010700   영도구  남항동3가         1    1.94
47  2620000000   영도구    동삼동        45    31.3
48  2620012000   영도구    청학동         1    3.18
49  2635000000  해운대구    반송동       4.5     3.4
50  2635000000  해운대구    반여동       4.5    2.67
51  2635000000  해운대구    석대동         1    6.28
52  2635000000  해운대구    송정동       4.5    26.9
53  2635000000  해운대구     우동         1    3.47
54  2635000000  해운대구     중동       4.5    6.67
55  2617053000    동구    초량동         1       4

In [44]:
########

In [71]:
base_geo_data.to_csv('base_data.csv', encoding='utf-8')

In [73]:
busan_data = busan_data.reset_index()
busan_data = busan_data.drop(columns='index')
busan_data

    ZONE    X   Y        CODE
0     중구   97  74  2611000000
1     서구   97  74  2614000000
2     동구   98  75  2617000000
3    영도구   98  74  2620000000
4   부산진구   97  75  2623000000
5    동래구   98  76  2626000000
6     남구   98  75  2629000000
7     북구   96  76  2632000000
8   해운대구   99  75  2635000000
9    사하구   96  74  2638000000
10   금정구   98  77  2641000000
11   강서구   96  76  2644000000
12   연제구   98  76  2647000000
13   수영구   99  75  2650000000
14   사상구   96  75  2653000000
15   기장군  100  77  2671000000